.bill{ border:1px solid grey; box-shadow:2px 2px 3px gray; margin-bottom: 5%; }
.invoice{ border:0px solid grey; }
.title{ font-family: monospace !important; }
.ctitle{ border:1px solid grey; padding-top:15px; }
.cright{ border:1px solid grey; padding-top:15px; }
.trow{ border-bottom:1px solid grey; }
#signspace{ padding:20px; }
.footer{ padding:5%; border-top: 1px solid grey; }

@media print{
    #billpaper{
        position: absolute;
        left:-30% !important;
        top:-10% !important;
    }
    #billhead{ display: none; }
    #billtitle { display: none; }
    #sidebar { display: none; }
}
