.salesmodule{
    border-radius: 5px;
    box-shadow: 1px 1px 5px darkgray; 
}
#add_sales_entry{
    border: none; 
    border-radius: 50%; color:white;
    padding:9px 16px; background-color: orangered;
}
#add_sales_entry:hover{
    box-shadow: 2px 2px 2px gray; cursor: pointer;
}
#salestb tbody a{ cursor: pointer; color: white!important;}
#salestb tbody a:hover{ border: none!important; }